body {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    background-image: url("resources/portfolio_back.png");
    background-size: 100% auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    border: 5px solid black;
    width: 50vw;
    height: 50px;
}

.dpdn, .dpdns {
    position: relative;
    display: inline-block;
}
  
.dpdn-content, .dpdns-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2.5px 10px;
}

.dpdn-content p {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
/* .dpdn-content span {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
} */

.dpdn:hover .dpdn-content {
    display: block;
}

.dpdns:hover .dpdns-content {
    display: block;
}

.contentArea {
    display: flex;
}

.mainPosts {
    display: flex;
    flex-direction: column;
    align-items: center;

    width : 75vw;
    padding-bottom: 25px;
}

.mPostContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mPostThumbnail img {
    padding-top: 20px;
    width: 50vw;
}

.mPost {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.692);
}

.postDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-right: 2px solid lightblue;
    width : 25%;
    padding: 10px 30px 10px 0px;
}

.postCat {
    font-family: sans-serif;
    font-size:  15px;
    opacity: 80%;
    padding: 0 0 10px 5px;
}

.postTitle {
    font-family: sans-serif;
    font-size:  30px;
    padding: 0 0 10px 5px;
}

.postDate { 
    font-family: sans-serif;
    font-size:  15px;
    padding: 0 0 10px 5px;
}

.shareArea {
    position: relative;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    padding: 0 0 10px 5px;
}

.postPreview {
    width: 65%;
    padding: 15px;
}

.mReadMore {
    position: absolute;
    right: 0px;
    bottom: 5px;
}

.shareArea img {
    width: 20px;
    height: 20px;
}

.secondPosts { 
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    
    width: 25vw;
    margin-right: 50px;
    padding: 20px;
    background-color: rgba(214, 214, 214, 0.7);
}

.sPostContainer img {
    width: 20vw;
    padding: 5px;
}

.sPostContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 25vw;
    height: calc(25vw * 1.6);
    border-bottom: 2px solid lightsteelblue;
}

.sPostContent {
    padding: 5px;
}

#shareSec {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
}

.sReadMore {
    display: flex;
    align-self: flex-end;
}

.allPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid lightsteelblue;
    padding: 5px;
}

