body {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    background-image: url("resources/portfolio_back.png");
    background-size: 100% auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    border: 5px solid black;
    width: 50vw;
    height: 50px;
}

.dpdn {
    position: relative;
    display: flex;
    justify-content: center;
}
  
.dpdn-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2.5px 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    border-bottom: 1px solid grey;
    /* transform: skew(21deg); */
}

a {
    text-decoration: none;
}

/* .navbar > .dpdn {
    background: #fff;
    padding: 0px 10px;
    transform: skew(-21deg);
    
} */
/* .dpdn > p {
    display: inline-block;
    transform: skew(21deg);
} */

.dpdn:hover .dpdn-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    opacity: 0.9;
}

.contentArea {
    display: flex;
}

.mainPosts {
    display: flex;
    flex-direction: column;
    align-items: center;

    width : 75vw;
    padding-bottom: 25px;
}

.mPostContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mPostThumbnail img {
    padding-top: 20px;
    width: 50vw;
}

.mPost {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.692);
}

.postDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-right: 2px solid lightblue;
    width : 28%;
    padding: 10px 15px 10px 0px;
}

.postCat {
    font-family: sans-serif;
    font-size:  15px;
    opacity: 80%;
    padding: 0 0 10px 5px;
}

.postTitle {
    font-family: sans-serif;
    font-size:  30px;
    padding: 0 0 10px 5px;
}

.postDate { 
    font-family: sans-serif;
    font-size:  15px;
    padding: 0 0 10px 5px;
}

.shareArea {
    position: relative;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    padding: 0 0 10px 5px;
}

.postPreview {
    width: 65%;
    padding: 15px;
}

.readMore {
    position: absolute;
    right: 5px;
    bottom: 10px;
}

.shareArea img {
    width: 20px;
    height: 20px;
}

.secondPosts { 
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    height: max-content;
    
    width: 25vw;
    margin-right: 50px;
    padding: 20px;
    background-color: rgba(214, 214, 214, 0.7);
}

.sPostContainer img {
    width: 20vw;
    padding: 5px;
}

.sPostContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 25vw;
    height: max-content;
    border-bottom: 2px solid lightsteelblue;
    padding-bottom: 20px;
}

.sPostContent {
    padding: 5px;
    width: inherit;
    padding-bottom: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

#shareSec {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
}

.allPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid lightsteelblue;
    padding: 5px;
}

