button {
    background-color: #d4b996;
    font-size: 20px;
    margin: 2.5px;
    cursor: pointer;
    width: 130px;
}
  
button:hover { opacity: 80% }
  
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentArea {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
}

.leftSide {
    position: absolute;
    left: 0;
    width: 20%;
    height: inherit;
    /* border: solid 5px green; */
    display: flex;
    flex-direction: column;
}

.searchArea {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historyArea {
    width: 100%;
    height: 10vh;
}

.cardLimits {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20vw;
    height: 28vw;

    border: solid 15px black;
    border-radius: 1rem;

    background-image: radial-gradient(red 2%, yellow 80%);
}

.name {
    position: absolute;
    left: 1%;
    top: 1%;
    text-transform: capitalize;
}

.HPType {
    position: absolute;
    right: 1%;
    top: 1%;
    display: flex;
}

.image {
    border: solid 1px red;
    margin-top: 8%;
    width: 60%;
    height: auto;
}

.poke {
    display : flex;
    position: absolute;
    align-self : center;
    width: inherit;
    z-index: 1;
}
  
.pokeBack {
    display : flex;
    align-self : center;
    width: 100%;
    height: 110%;
    z-index: 0;
}

.desc {
    padding-top: 25px;
}

.powMove {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-top: 10px;
}

img#mType {
    width: 20px;
}

.mDesc {
    display: flex;
    width: 75%;
}

.WNS {
    display: flex;
    justify-content: space-between;
    width: 90%;

    border: solid 2px black;
    margin-top: 10px;
    padding: 4px;

}

.bio {
    position: absolute;
    width: 80%;
    border: solid 1px black;
    bottom : 15px;
}

.pokeType {
    width: 20px;
}